################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/task2/2_1/bin/Debug
/task2/2_1/obj/Debug
/task2/2_2/bin/Debug
/task2/2_2/obj/Debug
/TwitApp
/VectorApp/VectorApp/bin/Debug
/VectorApp/VectorApp/obj/Debug
/PolynomApp/PolynomApp/bin/Debug
/PolynomApp/PolynomApp/obj/Debug
/VectorApp/VectorAppUnitTestProject/bin/Debug
/VectorApp/VectorAppUnitTestProject/obj/Debug
/EncapsulationApp/Task1/bin/Debug
/EncapsulationApp/Task1/obj/Debug
/PolynomApp/PolynomUnitTest/bin/Debug
/PolynomApp/PolynomUnitTest/obj/Debug
/EncapsulationApp/Task2/bin/Debug
/EncapsulationApp/Task2/obj/Debug
/EncapsulationApp/Task3/bin/Debug
/EncapsulationApp/Task3/obj/Debug
/ExceptionApp/ExceprionAppUnitTestProject/bin/Debug
/ExceptionApp/ExceprionAppUnitTestProject/obj/Debug
/ExceptionApp/Task/bin/Debug
/ExceptionApp/Task/obj/Debug

/ClockApp/ClockApp/App_Start
/ClockApp/ClockApp/bin
/ClockApp/ClockApp/Content
/ClockApp/ClockApp/fonts
/ClockApp/ClockApp/obj/Debug
/ClockApp/ClockApp/Properties
/ClockApp/ClockApp/Scripts/_references.js
/ClockApp/ClockApp/Scripts/respond.min.js
/ClockApp/ClockApp/Scripts/respond.js
/ClockApp/ClockApp/Scripts/modernizr-2.6.2.js
/ClockApp/ClockApp/Scripts/jquery.validate.unobtrusive.min.js
/ClockApp/ClockApp/Scripts/jquery.validate.unobtrusive.js
/ClockApp/ClockApp/Scripts/jquery.validate.min.js
/ClockApp/ClockApp/Scripts/jquery.validate.js
/ClockApp/ClockApp/Scripts/jquery.validate-vsdoc.js
/ClockApp/ClockApp/Scripts/jquery-1.10.2.min.map
/ClockApp/ClockApp/Scripts/jquery-1.10.2.min.js
/ClockApp/ClockApp/Scripts/jquery-1.10.2.js
/ClockApp/ClockApp/Scripts/jquery-1.10.2.intellisense.js
/ClockApp/ClockApp/Scripts/bootstrap.min.js
/ClockApp/ClockApp/Scripts/bootstrap.js
/ClockApp/ClockApp/Scripts/ai.0.22.9-build00167.min.js
/ClockApp/ClockApp/Scripts/ai.0.22.9-build00167.js
/BinTreeApplication/.vs
