################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/task2/2_1/bin/Debug
/task2/2_1/obj/Debug
/task2/2_2/bin/Debug
/task2/2_2/obj/Debug
/TwitApp
/VectorApp/VectorApp/bin/Debug
/VectorApp/VectorApp/obj/Debug
/PolynomApp/PolynomApp/bin/Debug
/PolynomApp/PolynomApp/obj/Debug
/VectorApp/VectorAppUnitTestProject/bin/Debug
/VectorApp/VectorAppUnitTestProject/obj/Debug
